:root {
  --gradient: linear-gradient(to bottom left, #2f2ce9, #6943ff);
  --red: #ff5555;
  --red-opacity: hsla(0, 100%, 67%, 0.05);
  --yellow: #ffb21e;
  --yellow-opacity: rgb(255, 178, 30, 0.05);
  --green: #00bb8f;
  --green-opacity: rgb(0, 187, 143, 0.05);
  --blue: #1125d6;
  --blue-opacity: rgb(17, 37, 214, 0.05);
  --white: #fff;
}
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main {
    flex-direction: row;
    align-items: center;
  }
}

.card {
  width: 375px;
  background-image: var(--gradient);
  border-radius: 0 0 32px 32px;
  padding: 24px 57px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .card {
    width: 368px;
    height: 512px;
    border-radius: 32px;
  }
}
.card__title {
  font-weight: 700;
  font-size: 18px;
  color: #cac9ff;
}
@media screen and (min-width: 768px) {
  .card__title {
    font-size: 24px;
  }
}
.card__circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: linear-gradient(#4d21c9, #2521c9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .card__circle {
    width: 200px;
    height: 200px;
  }
}
.circle__number--one {
  font-weight: 800;
  font-size: 56px;
  line-height: 72px;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .circle__number--one {
    font-size: 72px;
  }
}
.circle__number--two {
  font-weight: 700;
  font-size: 16px;
  color: #cac9ff;
  opacity: 0.51;
}
@media screen and (min-width: 768px) {
  .circle__number--two {
    font-size: 18px;
  }
}

.subtitle__card {
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .subtitle__card {
    font-size: 32px;
  }
}

.text__card--blue {
  font-weight: 500;
  font-size: 16px;
  color: #cac9ff;
}
@media screen and (min-width: 768px) {
  .text__card--blue {
    font-size: 18px;
  }
}
.title__summary {
  font-weight: 700;
  font-size: 18px;
  color: #303b59;
  margin-bottom: 24px;
}
.results {
  width: 315px;
  height: 56px;
  border-radius: 12px;
  display: flex;
  margin-bottom: 16px;
  margin-top: 24px;
  padding: 17px 16px;
  justify-content: space-between;
}
.resume--red {
  display: flex;
  align-items: center;
  gap: 12px;
}
.text__resume--red {
  color: var(--red);
  font-size: 16px;
  font-weight: 500;
}
.text__resume--yellow {
  color: var(--yellow);
  font-size: 16px;
  font-weight: 500;
}
.text__resume--green {
  color: var(--green);
  font-size: 16px;
  font-weight: 500;
}
.text__resume--blue {
  color: var(--blue);
  font-size: 16px;
  font-weight: 500;
}

.results__resume {
  display: flex;
}

.results__resume--small {
  font-weight: 700;
  font-size: 16px;
  color: #303b59;
}
.results__resume--big {
  font-weight: 700;
  font-size: 16px;
  color: rgba(48, 59, 89, 0.555);
}

.results--red {
  background-color: var(--red-opacity);
}
.results--yellow {
  background-color: var(--yellow-opacity);
}
.results--green {
  background-color: var(--green-opacity);
}
.results--blue {
  background-color: var(--blue-opacity);
}
.button {
  border-radius: 128px;
  width: 315px;
  height: 56px;
  text-align: center;
  background-color: #303b59;
  color: white;
  padding: 17px 120px;
  display: inline-block;
}
